@charset "UTF-8";
#progress {
	border-radius: 15px;
	border: 1px solid #ddd;
	margin-button: 20px;
	margin-top: 20px;
}

#progress ul {
	padding: 0px;
	margin: 0px;
}

#progress li {
	display: inline-block;
	padding: 15px;
	border-right: 1px solid #ddd;
	border-top-left-radius: 50%;
	border-top-left-radius: 50%;
}

#progress li:first-child {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#progress li:last-child {
	border-right: none;
}

#progress li.active {
	background-color: #077aff;
	color: #FFF;
	font-weight: bold;
}

.box {
	background-color: #F3F3F3;
	padding: 20px;
}

#myCommunities {
	cursor: pointer;
}

#myCommunities:hover {
	text-decoration: underline;
}
